.g-config-breadcrumb-container

p
  | This plugin uses the
  a(target="_blank", href="http://candela.readthedocs.io/")  Candela library
  |  to render table files directly in Girder.

p.
  This plugin requires no configuration. Simply upload a CSV file as an item
  with a name ending in .csv, or a tab-delimited file with a name ending
  in .tsv or .tab, then set the Candela visualization type and options and
  click Update to generate a visualization.
